	
	<footer>
		<div class="footer-main">
			<div class="container">
				<div class="footer-main-wrapper">
					<div class="footer-main-left">
						<div class="footer-main-left__social">
							<div class="footer-main-left__social-name">
								<a href="#" class="footer-main-left__link">
									<img src="/static/images/icons/vk.svg" alt="ВКонтакте">
									<span>ВКонтакте</span>
								</a>
							</div>
						</div>
						<div href="#" class="footer-main-left__social">
							<div class="footer-main-left__social-name">
								<a href="#" class="footer-main-left__link">
									<img src="/static/images/icons/fb.svg" alt="Facebook">
									<span>Facebook</span> 
								</a>
							</div>
						</div>
						<div href="#" class="footer-main-left__social">
							<div class="footer-main-left__social-name">
								<a href="#" class="footer-main-left__link">
									<img src="/static/images/icons/twitter.svg" alt="Twitter">
									<span>Twitter</span>
								</a>
							</div>
						</div>
					</div>
					<div class="footer-main-center">
	
						<div class="footer-main-center__column">		
							<h3 class="footer-main-center__title">Поддержка</h3>
							<ul class="footer-main-center__list">
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Как сделать заказ</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Возврат товара</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Публичная оферта</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Доставка</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Способы оплаты</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Правила продажи</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Возврат денежных средств</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Вопросы и ответы</a></li>
							</ul>
						</div>
	
						<div class="footer-main-center__column">
							<h3 class="footer-main-center__title">Информация</h3>
							<ul class="footer-main-center__list">
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Контакты</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Вакансии</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Сертификаты</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Преимущества</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Скидки</a></li>
							</ul>
							<ul class="footer-main-center__list">
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Адреса магазинов</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Статус заказа</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Гарантии</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Кредит</a></li>
								<li class="footer-main-center__item"><a href="#" class="footer-main-center__link">Подарочные карты</a></li>
							</ul>
						</div>
	
					</div>
					<div class="footer-main-right">
						<div class="footer-main-right__item">
							<p>Звоните 24/7:</p>
							<h3><a href="tel:+79031412897">+7 (903) 141-28-97</a></h3>
						</div>
						<div class="footer-main-right__item">
							<p>Отдел продаж:</p>
							<h3><a href="tel:+79167723553">+7 (916) 772-35-53</a></h3>
						</div>
						<div class="footer-main-right__item">
							<p>
								Москва, м. Охотный ряд,<br>
								Никитский переулок, 3
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sub-footer">
			<div class="container">	
				<div class="sub-footer-wrapper">
					<div class="sub-footer-left">
					</div>
					<div class="sub-footer-center">
						Copyright © 2019
					</div>
					<div class="sub-footer-right">
						<div class="sub-footer-right__statistics">
							<!-- <img src="/static/images/statistics.svg" alt="statistics"> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	