<header>
    <div class="container">
        <div class="header-body">
            <div class="header-curtain">
                <nav class="sub-header__menu">
                    <ul>
                        <li class="sub-header__menu-item"><a href="/">Главная</a></li>
                        <li class="sub-header__menu-item"><a href="/catalog">Каталог товаров</a></li>
                        <li class="sub-header__menu-item"><a href="/#link-brands">Бренды</a></li>
                        <li class="sub-header__menu-item"><a href="/#link-reviews">Отзывы</a></li>
                        <li class="sub-header__menu-item"><a href="/#link-about-us">О нас</a></li>
                        <li class="sub-header__menu-item"><a href="/#link-contacts">Контакты</a></li>
                    </ul>
                </nav>
                <div class="header-curtain__info">
                    <a href="tel:+375299744300" class="header-curtain__phone">+375&nbsp;(29)&nbsp;974-43-00</a>
                </div>
            </div>
            <div class="header">
                <div class="header-left">
                    <a href="#" class="header__curtain__phone"><img src="/static/images/logo.svg" alt="HSport"></a>
                </div>
                <div class="header-right">
                    <div class="header__contacts">
                        <a href="tel:+375299744300" class="header__phone">+375 (29) 974-43-00</a>
                    </div>
                    <div class="header__burger"><span></span></div>
                </div>
            </div>
            <div class="sub-header">
                <nav class="sub-header-left sub-header__menu">
                    <ul>
                        <li class="sub-header__menu-item"><a href="/">Главная</a></li>
                        <li class="sub-header__menu-item"><a href="/catalog">Каталог товаров</a></li>
                        <li class="sub-header__menu-item"><a href="/#link-brands">Бренды</a></li>
                        <li class="sub-header__menu-item"><a href="/#link-reviews">Отзывы</a></li>
                        <li class="sub-header__menu-item"><a href="/#link-about-us">О нас</a></li>
                        <li class="sub-header__menu-item"><a href="/#link-contacts">Контакты</a></li>
                    </ul>
                </nav>
                <ul class="header-actions sub-header-right">
                    {{#unless isEntry}}
                    {{#if isAuth}}
                    {{#unless isDeleted}}
                    <li>
                        <button class="header-actions__item">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6269 2.37312C20.791 5.53728 20.7911 10.6858 17.6269 13.8499C14.9426 16.5343 10.9502 16.9408 7.83267 15.0707C7.83267 15.0707 7.60736 14.9363 7.41723 15.1265L3.28552 19.2581C2.46147 20.0823 1.30909 20.2784 0.578272 19.5474L0.452442 19.4217C-0.278378 18.6908 -0.0821913 17.5385 0.741922 16.7144L4.88233 12.5741C5.06377 12.3928 4.92943 12.1674 4.92943 12.1674C3.05925 9.0498 3.46579 5.05748 6.15017 2.37312C9.31429 -0.79104 14.4628 -0.79104 17.6269 2.37312ZM7.64847 3.87154C5.31046 6.20953 5.3104 10.0137 7.64841 12.3516C9.98647 14.6895 13.7906 14.6895 16.1286 12.3516C18.4666 10.0137 18.4666 6.20946 16.1286 3.87154C13.7906 1.53355 9.98647 1.53361 7.64847 3.87154ZM7.84048 7.56348C7.94711 7.60851 8.05773 7.6299 8.16655 7.6299C8.49289 7.6299 8.80305 7.43797 8.93828 7.11847C9.71124 5.29165 11.8266 4.4343 13.6534 5.20732C14.0795 5.38752 14.5709 5.18837 14.7512 4.76237C14.9315 4.33637 14.7322 3.84491 14.3063 3.66464C11.6287 2.53159 8.52858 3.78815 7.39553 6.46574C7.21526 6.89174 7.41454 7.3832 7.84048 7.56348Z" fill="white" />
                            </svg>
                        </button>
                    </li>
                    {{#unless isAdmin}}
                    <li>
                        <button class="header-actions__item" onClick="window.location.href = '/cart';">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.7882 5.76098C19.9647 5.99064 20.0308 6.26623 19.9868 6.58776L19.1484 11.5944C19.1189 11.8547 19.0049 12.069 18.8064 12.2374C18.6078 12.4058 18.3835 12.4901 18.1334 12.4901H5.90991L5.6672 13.9139H17.3171C17.5965 13.9139 17.8391 14.0173 18.0452 14.224C18.2511 14.4307 18.354 14.6871 18.354 14.9933C18.354 15.2996 18.2511 15.556 18.0452 15.7627C17.8391 15.9694 17.5965 16.0727 17.3171 16.0727H4.43161C4.12271 16.0727 3.85795 15.9426 3.63731 15.6824C3.43137 15.4221 3.35047 15.1235 3.3946 14.7868L3.9462 11.6634L3.10777 2.89031L0.724846 2.10947C0.445368 2.0176 0.243114 1.84149 0.118084 1.58125C-0.0069461 1.32093 -0.0326875 1.04538 0.0408594 0.754475C0.129116 0.463572 0.301951 0.253051 0.559365 0.12291C0.81678 -0.00723002 1.07787 -0.0340237 1.34264 0.0425296L4.38748 1.05303C4.57871 1.11428 4.73683 1.2291 4.86186 1.39752C4.98689 1.56594 5.06412 1.75736 5.09353 1.97171L5.27005 3.71712L19.0822 5.32474C19.3911 5.37056 19.6264 5.51601 19.7882 5.76098ZM5.9982 16.6699C6.43948 16.6699 6.81457 16.8306 7.12347 17.1522C7.43236 17.4736 7.58681 17.8642 7.58681 18.3235C7.58681 18.7827 7.43236 19.1771 7.12347 19.5062C6.81457 19.8354 6.43948 20 5.9982 20C5.55692 20 5.18183 19.8354 4.87293 19.5062C4.56403 19.1771 4.40958 18.7828 4.40958 18.3235C4.40958 17.8642 4.56403 17.4737 4.87293 17.1522C5.18179 16.8306 5.55688 16.6699 5.9982 16.6699ZM15.4195 16.6699C15.8607 16.6699 16.2359 16.8306 16.5448 17.1522C16.8536 17.4736 17.0082 17.8642 17.0082 18.3235C17.0082 18.7827 16.8537 19.1771 16.5448 19.5062C16.2359 19.8354 15.8607 20 15.4195 20C14.9782 20 14.6031 19.8354 14.2943 19.5062C13.9854 19.1771 13.8308 18.7828 13.8308 18.3235C13.8308 17.8642 13.9853 17.4737 14.2943 17.1522C14.6032 16.8306 14.9782 16.6699 15.4195 16.6699Z" fill="white" />
                            </svg>
                        </button>
                    </li>
                    {{/unless}}
                    {{/unless}}
                    <li>
                        <button class="header-actions__item" onClick="window.location.href = '/profile';">
                            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2361 4.89066C12.2361 7.59168 10.3397 9.78127 8.00054 9.78127C5.66127 9.78127 3.76484 7.59168 3.76484 4.89066C3.76484 2.18959 4.38759 0 8.00054 0C11.6135 0 12.2361 2.18959 12.2361 4.89066ZM15.991 17.0513C15.9126 12.3461 15.2662 11.0053 10.3195 10.1567C10.3195 10.1567 9.62317 11.0001 8.00018 11.0001C6.37719 11.0001 5.68075 10.1567 5.68075 10.1567C0.78805 10.9961 0.102308 12.3169 0.0121423 16.8985C0.00474872 17.2726 0.00132243 17.2922 0 17.2488C0.000300553 17.3302 0.000661083 17.4807 0.000661083 17.7431C0.000661083 17.7431 1.17835 20 8.00018 20C14.8219 20 15.9997 17.7431 15.9997 17.7431C15.9997 17.5745 15.9998 17.4573 16 17.3775C15.9987 17.4043 15.996 17.3523 15.991 17.0513Z" fill="white" />
                            </svg>
                        </button>
                    </li>
                    {{#if isAdmin}}
                    <li>
                        ---
                        <button class="header-actions__item" onClick="window.location.href = '/catalog/add';">
                            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2361 4.89066C12.2361 7.59168 10.3397 9.78127 8.00054 9.78127C5.66127 9.78127 3.76484 7.59168 3.76484 4.89066C3.76484 2.18959 4.38759 0 8.00054 0C11.6135 0 12.2361 2.18959 12.2361 4.89066ZM15.991 17.0513C15.9126 12.3461 15.2662 11.0053 10.3195 10.1567C10.3195 10.1567 9.62317 11.0001 8.00018 11.0001C6.37719 11.0001 5.68075 10.1567 5.68075 10.1567C0.78805 10.9961 0.102308 12.3169 0.0121423 16.8985C0.00474872 17.2726 0.00132243 17.2922 0 17.2488C0.000300553 17.3302 0.000661083 17.4807 0.000661083 17.7431C0.000661083 17.7431 1.17835 20 8.00018 20C14.8219 20 15.9997 17.7431 15.9997 17.7431C15.9997 17.5745 15.9998 17.4573 16 17.3775C15.9987 17.4043 15.996 17.3523 15.991 17.0513Z" fill="white" />
                            </svg>
                        </button>
                        {{!-- <a href="/catalog/add" class="btn btn-catalog"><span></span>Добавить товар</a> --}}
                    </li>
                    {{/if}}
                    <li>
                        <a href="/entry/exit" class="btn btn-catalog"><span></span>Выйти</a>
                    </li>
                    {{else}}
                    <li>
                        <a href="/entry" class="btn btn-catalog"><span></span>Войти</a>
                    </li>
                    {{/if}}
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>
</header>