<section class="entry">
        <div class="container">
            <div class="entry__wrapper tabs">
               <div class="entry-header">
                    <a href="#" class="entry-header__button tab__navitem active">Войти</a>
                    <a href="#" class="entry-header__button tab__navitem">Зарегистрироваться</a>
                </div>
                <div class="entry-content">
                    <form action="" method="POST" class="entry-content__form tab__item active">
                        <input class="entry-content__input" type="email" placeholder="Почта">
                        <input class="entry-content__input" type="password" placeholder="Пароль">
                        <button class="btn-gray entry-content__btn" type="submit">Войти</button>
                    </form>
                    <form action="" method="POST" class="entry-content__form tab__item">
                        <input class="entry-content__input" type="text" placeholder="Имя">
                        <input class="entry-content__input" type="text" placeholder="Фамилия">
                        <input class="entry-content__input" type="tel" placeholder="Номер телефона">
                        <input class="entry-content__input" type="email" placeholder="Почта">
                        <input class="entry-content__input" type="password" placeholder="Пароль">
                        <button class="btn-gray entry-content__btn" type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
	</section> 