<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="shortcut icon" href="/static/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<div class="wrapper">
    <section class="main-screen">

        <div class="header-slider">
            <div class="header-img__girl">
                <img src="/static/images/header-girl.png" alt="girl">
            </div>
            <div class="header-img">
                <div class="header-img__photo"></div>
                <div class="header-img__sqr"></div>
            </div>

            <div class="container">
                <div class="header-slider-content">
                    <div class="header-slider__name">
                        <span class="important">
                            Спортивные
                        </span>
                        товары
                    </div>
                    <h1 class="header-slider__title">HSport поможет Вам поставить <span class="important">собственные<br>рекорды</span></h1>
                    <div class="header-slider-text">
                        <h2 class="header-slider-text__title">Гарантируем помощь в достижении Вашей цели!</h2>
                        <div class="header-slider-text__decor"></div>
                        <div class="header-slider-text__items">
                            <p>Тренажеры, спортивные товары, книги про спорт.
                                <br> Широкий выбор товаров множества категорий, брендов и расценок</p>
                            <p>Добавки, направленные на сжигание лишних килограммов
                                 или<br> на набор мышечной массы</p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- <ul class="header-slider-nav">
                <li class="header-slider-nav__item active">1</li>
                <li class="header-slider-nav__item">2</li>
                <li class="header-slider-nav__item">3</li>
                <li class="header-slider-nav__item">4</li>
                <li class="header-slider-nav__item">5</li>
                <li class="header-slider-nav__item">6</li>
                <li class="header-slider-nav__item">7</li>
            </ul> --}}

            <div class="header-slider-shadow"></div>

        </div>

        <div class="main-screen-subcontent">
            <div class="container">
                <ul class="main-screen-subcontent__list">
                    <li class="main-screen-subcontent__item">
                        <p class="main-screen-subcontent__item-text main-screen-subcontent__item-img-1">
                            Лучшие цены интернета
                        </p>
                    </li>
                    <li class="main-screen-subcontent__item">
                        <p class="main-screen-subcontent__item-text main-screen-subcontent__item-img-2">
                            Удобные способы оплаты
                        </p>
                    </li>
                    <li class="main-screen-subcontent__item">
                        <p class="main-screen-subcontent__item-text main-screen-subcontent__item-img-3">
                            Бесплатный самовывоз
                        </p>
                    </li>
                    <li class="main-screen-subcontent__item">
                        <p class="main-screen-subcontent__item-text main-screen-subcontent__item-img-4">
                            Наличие документов
                        </p>
                    </li>
                    <li class="main-screen-subcontent__item">
                        <p class="main-screen-subcontent__item-text main-screen-subcontent__item-img-5">
                            Круглосуточная поддержка
                        </p>
                    </li>
                </ul>
            </div>
        </div>

    </section>

    <section id="link-brands" class="brands">
        <div class="container">
            <h2 class="align-center">Бренды</h2>
            <ul class="brands-cards">
                <li class="brands-cards__column">
                    <div class="brands-cards__item">
                        <img src="/static/images/brands/01.png" alt="Monark">
                    </div>
                </li>
                <li class="brands-cards__column">
                    <div class="brands-cards__item">
                        <img src="/static/images/brands/02.png" alt="Optimum Nutrition">
                    </div>
                </li>
                <li class="brands-cards__column">
                    <div class="brands-cards__item">
                        <img src="/static/images/brands/03.png" alt="Diodora">
                    </div>
                </li>
                <li class="brands-cards__column">
                    <div class="brands-cards__item">
                        <img src="/static/images/brands/04.png" alt="Cybex">
                    </div>
                </li>
                <li class="brands-cards__column">
                    <div class="brands-cards__item">
                        <img src="/static/images/brands/05.png" alt="True">
                    </div>
                </li>
                <li class="brands-cards__column">
                    <div class="brands-cards__item">
                        <img src="/static/images/brands/06.png" alt="Johnson">
                    </div>
                </li>
                <li class="brands-cards__column">
                    <div class="brands-cards__item">
                        <img src="/static/images/brands/07.png" alt="Nike">
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section id="link-reviews" class="reviews">
        <div class="container">
            <h2 class="align-center">Отзывы</h2>
            <div class="reviews-cards">
                <div class="reviews-cards__column">
                    <div class="reviews-cards__item">
                        <div class="reviews-cards__photo">
                            <img src="/static/images/reviews/01.jpg" alt="Екатерина Галата">
                        </div>
                        <div class="reviews-cards__content">
                            <h4 class="block-title">Екатерина Галата</h4>
                            <p class="block-text">ЗОЖ - это просто! Интернет-магазин с огромным
                                ассортиментом вкусных и полезных штук для спорта.</p>
                            <div class="reviews-cards__footer">
                                <time datetime="01-04-2018" class="reviews-cards__date">1 апреля 2020</time>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews-cards__column">
                    <div class="reviews-cards__item">
                        <div class="reviews-cards__photo">
                            <img src="/static/images/reviews/02.jpg" alt="Кантимир Бибулатов">
                        </div>
                        <div class="reviews-cards__content">
                            <h4 class="block-title">Кантимир Бибулатов</h4>
                            <p class="block-text">Совсем недавно приобрел Эллиптический тренажер, т.к. давно хотел
                                заняться своим телом. Всем доволен</p>
                            <div class="reviews-cards__footer">
                                {{!-- <a href="#" class="reviews-cards__read">Читать</a> --}}
                                <time datetime="05-06-2018" class="reviews-cards__date">5 июня 2018</time>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews-cards__column">
                    <div class="reviews-cards__item">
                        <div class="reviews-cards__photo">
                            <img src="/static/images/reviews/03.jpg" alt="Анна Сергиенко">
                        </div>
                        <div class="reviews-cards__content">
                            <h4 class="block-title">Анна Сергиенко</h4>
                            <p class="block-text">Отличный магазин. Оперативно сработали. Вежливые операторы. Поддержка отвечает за 5 минут</p>
                            <div class="reviews-cards__footer">
                                <time datetime="01-02-2019" class="reviews-cards__date">1 февраля 2020</time>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews-cards__column">
                    <div class="reviews-cards__item">
                        <div class="reviews-cards__photo">
                            <img src="/static/images/reviews/04.jpg" alt="Валентин Буйнов">
                        </div>
                        <div class="reviews-cards__content">
                            <h4 class="block-title">Валентин Буйнов</h4>
                            <div class="block-text">Купил гантели на 4 кг. Лучшие гантели в моей жизни...</div>
                            <div class="reviews-cards__footer">
                                <div class="reviews-cards__date">14 апреля 2019</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <section id="link-about-us" class="about-us">
        <div class="container">
            <h2 class="align-center">О нас</h2>
            <div class="about-us-content">
                <div class="about-us-slider">
                    <div class="about-us-slider__image">
                        <img src="/static/images/about-us/01.jpg" alt="About us">
                    </div>
                    <div class="about-us-slider__image">
                        <img src="/static/images/about-us/02.jpg" alt="About us">
                    </div>
                    <div class="about-us-slider__image">
                        <img src="/static/images/about-us/03.jpg" alt="About us">
                    </div>
                </div>
                <div class="about-us-content__text">
                    <p>Наш магазин является одним из самых крупных, специализированных
                        интернет-магазинов спортивных товаров. Правильный спортивный инвентарь позволяет извлекать максимум из тренировок.
                    </p>
                    <p>Поэтому в нашем интернет-магазине мы собрали только зарекомендовавших себя производителей
                        спортивного инвентаря и аксессуары, популярные среди профессиональных атлетов и энтузиастов
                        здорового образа жизни.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.268753372088!2d27.557555215859022!3d53.891426980096824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfdb12398d2d%3A0xda87e12c7d16133f!2z0JHQtdC70L7RgNGD0YHRgdC60LjQuSDQs9C-0YHRg9C00LDRgNGB0YLQstC10L3QvdGL0Lkg0YLQtdGF0L3QvtC70L7Qs9C40YfQtdGB0LrQuNC5INGD0L3QuNCy0LXRgNGB0LjRgtC10YI!5e0!3m2!1sru!2sua!4v1587320425937!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </section>

</body>

</html>