    <div class="container message__wrapper">
        <div class="message-content">
            <p class="message__title">{{message}}</p>
            <button class="btn-gray message__btn" onclick="{{buttonAction}}">{{buttonValue}}</button>
        </div>
    </div>