<div class="grey-section table__wrapper ">
   <div class="container">
      <div>
         <table class="table">
            <thead>
               <tr>
                  <th>Номер заказа</th>
                  <th>Заказчик</th>
                  <th>Статус</th>
                  <th>Дата обновления</th>
                  <th>Сумма</th>
               </tr>
            </thead>
            <tbody>
         {{#each Orders}}
               <tr data-href="/cart/{{this.id}}">
                  <td>{{this.id}}</td>
                  <td>{{this.User.mail}}</td>
                  <td>
                     {{#when this.orderStatus 'created'}}
                     В корзине
                     {{/when}}

                     {{#when this.orderStatus 'being processed'}}
                     Обрабатывается
                     {{/when}}

                     {{#when this.orderStatus 'pickup'}}
                     Ожидается самовывоз
                     {{/when}}

                     {{#when this.orderStatus 'processed'}}
                     Завершён
                     {{/when}}
                  </td>
                  <td>{{#formatTime this.orderDate}} {{/formatTime}}</td>
                  <td>{{this.sumPrice}}</td>
               </tr>
         {{/each}}
            </tbody>
         </table>
      </div>
   </div>
</div>